@{
    ViewData["Title"] = "Primeira action";
}

<div class="text-center">
    <h1 class="display-4">pito</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">minha primeira action</a>.</p>
</div>
